---
import MainLayout from "../../layouts/MainLayout.astro";


export async function getStaticPaths() {
  const data = await fetch(
    "https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/subcategories",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
      },
    }
  ).then((response) => response.json());

  return data.map((subcategory) => {
    return {
      params: { slug: subcategory.slug },
      props: { subcategories: subcategory },
    };
  });
}

const { subcategories } = Astro.props;
 

---

<MainLayout headliner={subcategories.name}>
  <div class="product-info">
    <h1>{subcategories.name}</h1>

  </div>
</MainLayout>

<style>
  .product-info {
    background-color: brown;
max-width: 1040px;
    border: solid;
    padding: 2em;
  }

</style>
