---
const { data } = Astro.props;

---

<li><a href={`/${data.subcategory_name}/${data.slug}`}>{data.name}</a></li>

<style>
  a:hover {
    background-color: blue;
    color: white;
  }

  a {
    background-color: white;
    display: inherit;
  }
</style>
