---
import NavStore from "./NavStore.astro";
const data = await fetch(
  "https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/categories?order=id.asc",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
    },
  }
).then((res) => res.json());
---

<header>
  <div class="icon"></div>
  <nav>
    <div class="top">
      <div class="logo">
        <a href="/"><img src="/logo.svg" alt="logo" /></a>
      </div>

      <ul class="topnav">
        <li><a href="">Pre-order</a></li>
        <li><a href="">Reparation</a></li>
        <li><a href="">Sælg og byt</a></li>
        <li><a href=`product-list`>Om os</a></li>
      </ul>
      <div class="userarea">
        <a href="">
          <img src="/search.svg" alt="search button" /></a>
        <a href="">
          <img src="/profile.svg" alt="profile button" />
        </a>
        <a href="">
          <img src="/basket.svg" alt="shopping basket button" />
        </a>
      </div>
    </div>

    <div class="storenav">
      {
        data.map((data) => {
          return <NavStore data={data} />;
        })
      }
    </div>
  </nav>
</header>

<style>

  header {
    background-color: rgb(218, 218, 255);
    display: grid;
    grid-template-columns: auto 1040px auto;

  }

  nav {
    grid-column: 2;
    justify-content: center;
  }

  .top {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
  }
  
  .topnav {
    list-style: none;
    display: flex;
    gap: 2em;
    grid-column: 2;
    justify-content: center;
  }

  .userarea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
  }
  .storenav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1040px;
    width: 100%;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
text-align: center;
  }
</style>

<!-- dropdown menu tutorial here: https://webdesignerhut.com/css-dropdown-menu/  -->
