---
import "../styles/styles.css";
import Navigation from "../components/Navigation.astro";
const {headliner} = Astro.props

---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{headliner}</title>
  </head>
  <body>
    <Navigation />
    <h1>{headliner}</h1>
    <main>
      <slot />
    </main>
  </body>
</html>
